<h1>About Ace</h1>
<p>I'm a first year student at Chicago Booth learning to code through <%= link_to "One Month Rails", "http://www.onemonthrails.com"%>. Follow along as I work on building my own version of Pinterest.</p>
<p><%= link_to "My Personal Website", "http://re.vu/andrewedelman", class: "btn btn-primary"%>